*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
keystore.properties
*.jks
*.keystore
/.vscode
/app/build/
/app/captures/
/app/.cxx/
/app/.externalNativeBuild/
/app/intermediates/
/app/outputs/
/app/generated/
/gradle/
/gradlew*
/build/
/tmp/
/**/.DS_Store
/**/Thumbs.db
/**/*.iml
/**/*.jks
/**/*.keystore
/**/.idea/
/**/.vscode/
/**/workspace.xml
/**/shelf/
